@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  user-select: none;
}

h1{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 6rem;
}

.button--container{
  display: flex;
  justify-content: flex-end;
}

.start--button{
  background-color: rgb(98, 166, 235);
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  box-shadow: 2px 2px 8px .5px #1c1c1c6e;
  margin-top: 5px;
}

.start--button:hover{
  cursor: pointer;
  transform: scale(1.1);
}


.question-container {
  width: 500px;
  height: 250px;
  border: 1px solid red;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.answer--container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
.answer--button{
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  width: 80%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px .3px .3px #1c1c1c72;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.answer--button:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.answer--button:focus{
  background: linear-gradient(90deg, rgba(138,232,188,1) 0%, rgba(157,236,113,0.6727065826330532) 79%);
  /* border: 2px solid deepskyblue;  */
}

