@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.question-container {
  width: 500px;
  height: 250px;
  border: 1px solid red;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.answer--container{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
.answer--button{
  font-family: 'Montserrat', sans-serif;
  height: 30px;
  width: 80%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 2px .3px .3px #1c1c1c72;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.answer--button:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.answer--button:focus{
  background: linear-gradient(90deg, rgba(138,232,188,1) 0%, rgba(157,236,113,0.6727065826330532) 79%);

}